body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #e3f2fd, #e1f5fe);
}
.array-page{
    text-align: center;
    padding: 45px;
}
.array-page h1{
    color: #1565c0;
    font-size: 2.3rem;
    margin: 50px;
    
}
.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap:26px;
    justify-items: center;
}
.book-card{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.4s;
    width: 245px;
}
.book-card:hover{
    transform: scale(1.07);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.book-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.book-info{
    padding: 16px;
    text-align: left;

}
.book-info h2{
    font-size: 1.1rem;
    color: #1e3a8a;
    margin-bottom: 8px;
}
.book-info p{
    font-size: 0.96rem;
    color: #444;
    margin: 5px 0;
}